* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    background-color: blue;
}

form {
    height: 40px;
}

#input {
    width: 75%;
    height: 100%;
}

#submit {
    width: 25%;
    height: 100%
}